/* DEBUG */
/* * { */
  /* border:1px solid; */
/* } */
/* .row { */
  /* background:yellow; */
/* } */

/* #prev-next-ctrls { */
  /* background:orange; */
/* } */

/* html, body { */
  /* background-color:red; */
/* } */

/* nav { */
  /* background-color:purple; */
/* } */

/* #map { */
  /* background-color:green; */
/* } */
/* #left-col { */
  /* background:yellow; */
/* } */
/* #right-col { */
  /* background:blue; */
/* } */
/* #meteo-tables-container { */
  /* background:green; */
/* } */
/* table { */
  /* background:pink; */
/* } */
/* END OF DEBUG */


html, body {
  height:100%;
  width:100%;
  padding:0;
  margin:0;
}

/* smaller nav bar
 * http://stackoverflow.com/a/18602076/1067132 */
/* .navbar-nav > li > a, .navbar-brand { */
/*     padding-top:4px; */
/*     padding-bottom:0; */
/*     height: 28px; */
/* } */
/* .navbar { */
/*   min-height:10px; */
/* } */

/* footer { */
/*   height:5%; */
/* } */

/*
 * MAP PANE
 * */

#container {
  width:100%;
  height:100%;
  border-collapse: collapse;
}

#left-col, #right-col, #prev-next-ctrls {
  padding:15px;
}

#row1 {
  height:100%;
}
#row2 {
  margin-bottom:200px;
}
#left-col {
  width:100%;
}

#map-wrap {
  height:100%;
  width:100%;
}

#map {
  border:1px solid;
  height:100%;
  width:100%;
  min-width:500px;
}

#prev-next-ctrls {
  text-align:center;
  /* TODO the buttons are not really vertically centered */
  vertical-align:middle;
  min-width:300px;
}

#month {
  font-size: 18pt;
  text-align: center;
  display: inline-block;
  min-width:150px;
  max-width:400px;
}

/*
 * MAP ELEMENTS
 */

.temperature {
  font-size: 10pt;
  display: inline-block;
}

.citydata {
  margin-left:-100px;
  margin-top:0px;
  width:200px;
  font-size:16pt;

  display:inline-block;
  
  display:inline-flex;
  justify-content:center;
  align-items:center;
}

/*
 * TABLES PANE
 * */
#meteo-tables-controls{
  text-align:right;
}

#right-col {
  width:1%;
  height:100%;
}

#meteo-tables-container {
  height:100%;
  overflow-y:scroll;
  width:auto;
}

.meteo-table-container {
  margin-top:10px;
}

.meteo-table * {
  padding:0;
  margin:0;
}

.meteo-table tr {
  width:auto;
  height:34px;
  border-right: 1px solid white;
}

.meteo-table th {
  width:100px;
  min-width:100px;
  font-size:8pt;
  text-align:center;
  border-top: 1px solid lightgray;
}

.meteo-table td {
  border-top: 1px solid white;
  width:34px;
  min-width:34px;
  text-align:center;
  font-size:9pt;
  overflow:hidden;
  padding:1px;
  font-weight:500;
}

.meteo-table-header {
  height:22px;
  font-size:10pt;
}
.meteo-table-close {
  float:right;
  text-align:center;
}

#meteo-tables-placeholder {
  width:200px;
  text-align:center;
  position:relative;
  top:50%; 
  transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
}

@media (max-width: 500px) {
  /* #left-col { */
    /* min-width:600px; */
  /* } */
  #right-col {
    display:none;
  }
  #left-col, #right-col, #prev-next-ctrls {
    padding:5px;
  }
  #map {
    min-width:100%;
  }
}
