/* DEBUG */
/* * { */
/*   border:1px solid; */
/* } */
/* .row { */
/*   background:yellow; */
/* } */

/* #bottom { */
/*   background:orange; */
/* } */

/* html, body { */
/*   background-color:red; */
/* } */

/* #map { */
/*   background-color:green; */
/* } */
/* #left-col { */
/*   background:yellow; */
/* } */
/* #right{ */
/*   background:blue; */
/* } */
/* .meteo-table-container { */
/*   background:pink; */
/* } */
/* END OF DEBUG */


html, body {
  height:100%;
  width:100%;
  padding:0;
  margin:0;
}

/* smaller nav bar
 * http://stackoverflow.com/a/18602076/1067132 */
/* .navbar-nav > li > a, .navbar-brand { */
/*     padding-top:4px; */
/*     padding-bottom:0; */
/*     height: 28px; */
/* } */
/* .navbar { */
/*   min-height:10px; */
/* } */

/* footer { */
/*   height:5%; */
/* } */

/*
 * MAP PANE
 * */

#container {
  width:100%;
  height:100%;
  border-collapse: collapse;
}

.left-exp-width {
  width: calc(100% - 467px);
  min-width: calc(100% - 467px);
}

.left-width {
  width: calc(100% - 200px);
}

.left{
    position: absolute;
    top: 0px;
    left: 0px;
    height: calc(100% - 50px);
}

#map-wrap {
  height: calc(100% - 50px);
  /* height:100%; */
  width:100%;
  padding:10px;
}

#map {
  border:1px solid;
  height:100%;
  width:100%;
  /* min-width:500px; */
}

#bottom {
  /* text-align:center; */
  /* TODO the buttons are not really vertically centered */
  /* vertical-align:middle; */
  min-width:300px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  text-align: center;
}

#month {
  font-size: 18pt;
  text-align: center;
  display: inline-block;
  min-width:150px;
  max-width:400px;
}

/*
 * MAP ELEMENTS
 */

.citydata {
  margin-left:-13px;
  margin-top:-26px;
  width:auto;
  text-align:center;
  
  /* display:inline-flex; */
  /* justify-content:center; */
  /* align-items:center; */
}


ul {
  list-style-type:none;
  background:black;
  height:auto;
  padding:0;
  margin:0;
}

.temperature {
}
li {
  font-size: 8pt;
  margin:0;
  padding:0;
  display:inline-block;
  width:28px;
  text-align:center;
  border:1px solid black;
}


/*
 * TABLES PANE
 * */
#meteo-tables-controls{
  text-align:right;
}

.right-exp-width {
  width: 467px;
  min-width: 467px;
}
.right-width {
  width: 200px;
}

.right {
  /* height:100%; */
  /* overflow-y:scroll; */
  /* width:auto; */

    position: absolute;
    top: 10px;
    right: 0px;
    overflow: auto;
    height: calc(100% - 50px);
    /* padding:10px; */
}


.meteo-table-container {
  margin-top:10px;
  /* margin-right:10px; */
  margin-right:10px;
}

.meteo-table * {
  padding:0;
  margin:0;
}

.meteo-table tr {
  width:auto;
  height:22px;
  border-right: 1px solid white;
}

.meteo-table th {
  width:120px;
  min-width:120px;
  font-size:8pt;
  text-align:center;
  border-top: 1px solid lightgray;
}

.meteo-table td {
  border-top: 1px solid white;
  width:28px;
  min-width:28px;
  max-width:28px;
  text-align:center;
  font-size:8pt;
  overflow:hidden;
  padding:1px;
  font-weight:500;
}

.meteo-table-header {
  height:22px;
  font-size:10pt;
}
.meteo-table-close {
  float:right;
  text-align:center;
}

#meteo-tables-placeholder {
  width:200px;
  text-align:center;
  position:relative;
  top:50%; 
  transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
  padding-right:10px;
}

.highlight-city {
  border:1px solid black;
}
#meteo-tables-clear-all {
  margin-right:10px;
}

/* @media (max-width: 500px) { */
  /* #left-col { */
    /* min-width:600px; */
  /* } */
/*   #right-col { */
/*     display:none; */
/*   } */
/*   #left-col, #right-col, #prev-next-ctrls { */
/*     padding:5px; */
/*   } */
/*   #map { */
/*     min-width:100%; */
/*   } */
/* } */
