/* debug */
/*html * {
  border:1px solid;
}*/

#map {
  height: 800px;
}

.citydata {
  color:blue;
  margin-left:-100px;
  margin-top:0px;
  width:200px;
  font-size:16pt;
  
  display:flex;
  justify-content:center;
  align-items:center;
}
