# actual libraries we need (I think...)
# 
# -e . # this library (meteomap)
# GeoAlchemy2
# SQLAlchemy
# gnureadline
# ipython
# nose
# psycopg2
# rdflib
# SPARQLWrapper
# Flask
# wikipedia
# requests
# -e git://github.com/ztane/python-Levenshtein.git@854e61a05bb8b750e990add96df412cd5448b75e#egg=python-Levenshtein

# pip freeze output
-e . # this library (meteomap)
Flask==0.10.1
GeoAlchemy2==0.2.4
Jinja2==2.7.3
MarkupSafe==0.23
SPARQLWrapper==1.6.4
SQLAlchemy==0.9.8
Werkzeug==0.10.4
beautifulsoup4==4.3.2
gnureadline==6.3.3
ipython==2.4.1
isodate==0.5.1
itsdangerous==0.24
nose==1.3.4
psycopg2==2.6
pyparsing==2.0.3
rdflib==4.2.0
requests==2.5.3
wikipedia==1.4.0
-e git://github.com/ztane/python-Levenshtein.git@854e61a05bb8b750e990add96df412cd5448b75e#egg=python_Levenshtein-origin/master
