<!DOCTYPE html>
<html>
  <head>
    <title> meteomap </title>
     <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
     <link href="static/site.css" rel="stylesheet" type="text/css">
     <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
  </head>
  <body>
    <table width=100%>
      <tr><td><div id=map></div></td></tr>
      <tr><td>
          <button id=prev_btn> < </button>
          <div id=month></div>
          <button id=next_btn> > </button>
        </td></tr>
    </table>
    <script src="static/jquery-1.11.3.min.js"></script>
    <script src="static/map.js"></script>
  </body>
</html>
