<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> meteomap </title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <link href="static/css/site.css" rel="stylesheet" type="text/css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
  </head>
  <body>
    <!-- <h1 id=title> Meteomap </h1> -->
    <!-- <nav class="navbar navbar-static-top"> -->
      <!-- <div class="container"> -->
        <!-- <div class="navbar-header"> -->
          <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> -->
            <!-- <span class="sr-only">Toggle navigation</span> -->
            <!-- <span class="icon-bar"></span> -->
            <!-- <span class="icon-bar"></span> -->
            <!-- <span class="icon-bar"></span> -->
          <!-- </button> -->
          <!-- <a class="navbar-brand" href="#">MeteoMap</a> -->
        <!-- </div> -->
        <!-- <div id="navbar" class="collapse navbar-collapse"> -->
          <!-- <ul class="nav navbar-nav"> -->
            <!-- <li class="active"><a href="#">Home</a></li> -->
            <!-- <li><a href="#about">About</a></li> -->
            <!-- <li><a href="#contact">Contact</a></li> -->
          <!-- </ul> -->
        <!-- </div><!--/.nav-collapse -->
      <!-- </div> -->
    <!-- </nav> -->
        <div class="left left-width">
          <div id="map-wrap">
            <div id="map"></div>
          </div>
          <div id="bottom">
            <button type="button" class="btn btn-primary" id="prev-btn">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </button>
            <div id=month></div>
            <button type="button" class="btn btn-primary" id="next-btn">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
          </div>
        </div>
        <div class="right right-width">
          <div id="meteo-tables-controls">
            <button type="button" class="btn btn-danger btn-xs" id="meteo-tables-clear-all" style="display:none"> 
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              Clear all
            </button>
          </div>
          <div id="meteo-tables-placeholder">
            <p class="alert alert-info">
              Click on cities on the map to view their stats for the whole year
            </p>
          </div>
          <div id="meteo-tables">
          </div>
        </div>
    <script src="static/js/jquery-1.11.3.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/map.js"></script>
  </body>
</html>
